:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* overflow: hidden; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  background-color: white;
  color: black;
  padding: 0.5% 1%;
  /* border-radius: 10px; */
  margin: 1%;
  border: solid 1px transparent;
  border-bottom: 2px black solid;
  border-right: 2px black solid;
  cursor: pointer;
  transition: scale 0.2s;
  font-family: 'VT323';
  font-size: 1.3rem;
}
button:hover {
  background-color: black;
  color: white;
  border-bottom: 2px white solid;
  border-right: 2px white solid;
  scale: 105%;
}

button:active {
  scale: 97%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/vt323/v17/pxiKyp0ihIEF2isfFJXUdVNF.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

header {
  margin-top: 0px;
  font-size: 3.2em;
  line-height: 1.1;
  position: relative;
  z-index: 1;
  /* text-shadow: 0px 0px 15px rgba(0,0,0,0.5); */
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

h1 {
  margin-top: 0px;
  font-size: 3.2em;
  line-height: 1.1;
  position: relative;
  z-index: 1;
  /* text-shadow: 0px 0px 15px rgba(0,0,0,0.5); */
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  color: #2D2A3A;
}

h2 {
  font-size: 2.5em;
  font-family: "VT323", monospace;
  line-height: 1.1;
  color: #2D2A3A;
}
h3 {
  font-size: 1.6em;
  font-family: "VT323", monospace;
  color: #2D2A3A;
  
}

h4 {
  margin-top: 0; 
  padding-top: 0;
  font-size: 2.5em;
  font-family: "VT323", monospace;
  line-height: 1.1;
  color: #2D2A3A;
}

#title {
  background-color: #253C78;
  padding: 2% 5%;
  width: 125%;
  left:-12.5%;
  box-shadow: 4px 4px 0px #2D2A3A;
}

#pref_title {
  background-color: #253C78;
  padding: 2% 5%;
  max-width: 600px;                   
  margin: 30px auto;   
  box-shadow: 4px 4px 0px #2D2A3A;
}

.login-btn {
  position: relative;
  cursor: pointer;
  color: white;
  z-index: 1000;
  background-color: #D79544;
}

.login-btn p {
  font-family: "VT323", monospace;
  font-size: 2rem;
  margin: 0;
  background-color: #D79544;
  box-shadow: 2px 2px 0px #f3f3f3;
  transition: 0.1s ease-in-out;
  transform: translateX(5%)
}

.login-btn:hover p {
  color: white;
  font-size: 2rem;
  box-shadow: 5px 5px 0px #f3f3f3;
  scale: 105%;
}

.login-btn:active p {
  transition: 0.05s ease-in-out;
  font-size: 1.9rem;
  scale: 95%;
}

.loggedin-user {
  font-family: "VT323", monospace;
  color:#2D2A3A;
  padding: 10px;
  font-size: 1.3em;
}

body .loggedin-user {
  top: 30px;
  right: 50px;
  flex-direction: column;
  align-items: center;
  position: fixed; 
  display: flex;
}

.profile-pic {
  width: 70px;
  height: 70px;
}

.container {
  display: flex;
  flex-shrink: 0;
}
.pref-icon {
  display:inline-block;
  width: 75%;
  margin:15px 20px 10px 0px;
  border: solid 4px #fff;
}

.pref-location {
  font-family: "VT323", monospace;
    font-size: 2rem;
    width: 50%;
    padding: 10px;
    margin-Bottom: 10px;
    border: 1px solid #ccc;
    border-Radius: 4px;
}

.pref-gen-search{
    font-family: "VT323", monospace;
    font-size: 2rem;
    width: 50%;
    padding: 10px;
    margin-Bottom: 10px;
    border: 1px solid #ccc;
    border-Radius: 4px;
}

.location-gen-search{
  font-family: "VT323", monospace;
  font-size: 2rem;
  width: 50%;
  padding: 10px;
  margin-Bottom: 10px;
  border: 1px solid #ccc;
  border-Radius: 4px;
  margin-top: 20px;
}

.pref-gen-check{ 
  font-family: "VT323", monospace;
  max-Height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-Radius: 4px;
  display: grid;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right:0;
  font-Size: 1.5rem;
  color: #2D2A3A;
}

.pref-gen-sel{
  margin-top: "20px" ;
  font-family: "VT323", monospace;
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;
  display: flex;
  flex-Wrap: wrap;
}

.pref-gen-sel2{
  padding: 5px 10px;
  background-Color: #253C78;
  color: white;
  border-Radius: 5px;
  display: flex;
  align-Items: center;
  gap: 5px;
  font-size: 1.6rem;
}

.pref-x-btn{
  margin-Left: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-Weight: bold;
  color: #f3f3f3;
  font-size: 1.5rem;
}

figure img {
  vertical-align: top;
}

.pref-submit-btn{
  margin-top: 20px;
  margin-bottom: 60px;
  font-family: "VT323", monospace;
  font-size: 1.9rem;
  width: 25%;
  cursor: pointer;
  border: 4px solid #253C78;
  border-radius: 10px; 
}

.pref-submit-btn:hover {
  background-color: #b8b6b6;
}

.buttons{
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  cursor: pointer;

}

.content {
  margin: 0 auto;
  position: relative; 
  z-index: 1; 
}

.centered-hr {
  width: 85%; 
  margin-top: 18px; 
  margin-bottom: 30px;
  border: none; 
  border-top: 8px solid #253C78; 
  border-radius: 10px;
}

.location_container {
  background-color: #f3f3f3; 
  border-radius: 18px; 
  padding: 30px; 
  width: 40%;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  position: relative; 
  z-index: 1; 
  border: 8px solid #253C78;
}

.outline {
  background-color: #f3f3f3; 
  border-radius: 18px; 
  padding: 30px; 
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  position: relative; 
  z-index: 1; 
  border: 8px solid #253C78;
}

.background {
  background-color: #cee7f2; 
  background-image: url('./images/preferences_rainbow.png'); 
  background-size: cover; 
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  background-position: center; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}


.profile-display {
  position: fixed;
  top: 3%;
  right: 3%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: rgba(255,255,255,0.5);
  padding: 1%;
}

.profile-display div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile-display img {
  width: 40px;
  transform: translate(-1%, -5%) scale(125%);
}

.profile-display p {
  color: black;
  font-size: 1.5rem;
  margin: -5%;
}


.playlist-display {
  /* background-color: rgba(255,255,255,0.2); */
}

.overview-panel h2 {
  color: #2D2A3A;
  font-size: 4rem;
  margin: 0;
}
.overview-panel p {
  color: #2D2A3A;
  font-size: 2rem;
}


.white-text .overview-panel h2 {
  text-shadow: 1px 1px 0px black, -1px -1px 0px black;
}

.white-text .overview-panel p {
  text-shadow: 0.5px 0.5px 0px black, -0.5px -0.5px 0px black;
}

.overview-panel {
  margin: 0 0 5% 0;
}

.temp-line {
  border-top: solid 2px #242424;
  max-width: 300px;
  margin: auto;
}

.image-side {
  /* background-color: rgba(255,255,255,0.05); */
  filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.4));
}

.song-list {
  /* background-color: rgba(255,255,255,0.05); */
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
  padding: 2%;
}


.playlist-display p, .playlist-display h3 {
  /* filter: drop-shadow(1px 1px 0px white); */
  color: #2D2A3A;
}


.white-text .playlist-display p, .white-text .playlist-display h3, .white-text p, .white-text h2 {
  color: white;
}

.profile-display {
  background-color: transparent;
}
.white-text .profile-display img {
  filter: invert(100%);
}


.spotify-button {
  background-color: #D79544
}

.white-text .vibe, .white-text .vibe-title {
  text-shadow: 1px 1px 0px black, -1px -1px 0px black;
}

button:hover .gear {
  filter: invert(100%);
}

.gear {
  width: 12px;
  transform: scale(160%);
}

location_text {
  font-size: 2.0em;
  font-family: "VT323", monospace;
  line-height: 0.8;
  color: #f3f3f3;
  background-color: #253C78;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  border: 8px solid #253C78;
  display: inline-block; 
  margin-top: 10px;

}

location_heading {
  font-size: 2.1em;
  font-family: "VT323", monospace;
  line-height: 0.8;
  color: #2D2A3A;
  display: block; 
}

locationSearchHead {
  font-size: 2.1em;
  font-family: "VT323", monospace;
  line-height: 0.8;
  color: #2D2A3A;
  display: block; 
  margin-top: 20px;
}